textarea{
    resize: none;
}
body{
    min-height: 400px;
    margin-bottom: 100px;
}

#your-profile{
  border-radius: 8px;
}
#profile_row{
  padding: 5px;
  margin: 5px;
}
#quack-button, #image-upload-button, #emoji-button, .reply{
    background-color: #FF5722;
    color: white;
}
#feed-bg, #register, #profile, #login{

    background-color:#e6ecf0;
}
.card-header{
    background-color: #FFA000;
}
.quack, .follow-suggestion{
    background-color: #FFC107;
}
.media img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

h6 img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#userList ul{
     background-color:#FFFFE0;
     cursor:pointer;
}
#userList li{
     padding:12px;
}
