.bg-purp {
	background-color: #686fd3;
}

.profile-picture {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url("https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg");
}

body {
	background-color: #2c2f33;
	font-family: "Lato", sans-serif;
}

.profile {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url("https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.media img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
h6 img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
