@-webkit-keyframes slide {
     from {
         background-position: 0 0;
    }
     to {
         background-position: -400px 0;
    }
}
 @keyframes floating-duck {
     0% {
         transform: translateY(-8px);
    }
     100% {
         transform: translateY(10px);
    }
}
 @keyframes move_wave {
     0% {
         transform: translateX(0) translateZ(0) scaleY(1);
    }
     50% {
         transform: translateX(-25%) translateZ(0) scaleY(1);
    }
     100% {
         transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}
 @media only screen and (max-width: 760px) {
     .floating-duck {
         width: 150px !important;
         height: 150px !important;
         top: 370px !important;
         left: 50% !important;
    }
     .wave {
         top: 470px !important;
         display: none !important;
    }
     #login {
         min-height: 500px;
         margin-bottom: 200px;
    }
}
 textarea {
     resize: none;
}
html, body {
     font-family: "Signika", sans-serif;
     height: 100%;
     margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow: auto;
}
.left, .right, .mid {
height: 100%;
overflow-y: scroll;
float: left;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.card {
  background: transparent;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .animatedBg {
     background: gray url(https://haxstar.com/resources/images/annimation/wallpaper.png) repeat 0 0;
     width: 100%;
     margin: 0;
     text-align: center;
     height: 300px;
     box-sizing: border-box;
     -webkit-animation: slide 60s linear infinite;
}
 .form-signin {
     margin-top: 50px;
}
 .loginForm {
     background-color: #fff9e6;
     z-index: 1;
}
 .registrationForm {
     background-color: rgb(255,255,255, 0.8);
     margin-top: 50px;
     margin-bottom: 50px;
}
 .card-header {
     background-color: #ffc107;
}
 .mobile-profile-picture {
     width: 150px;
     height: 150px;
}
 .yellowishBgColor {
     background-color: #fefec8;
}
 .mobile-nav-item {
     background-color: #ffa000;
}
 .nav-link.active {
     background-color: #ff5722 !important;
     border: 1px solid transparent !important;
     border-color: #ff5722 !important;
}
 .floating-duck {
     position: absolute;
     top: 260px;
     left: calc(50% - 280px);
     animation: floating-duck 2s alternate ease-in-out infinite;
     animation-name: floating-duck;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-fill-mode: none;
     animation-play-state: running;
     will-change: transform;
     -webkit-user-select: none;
     user-select: none;
}
 .waveWrapper {
     overflow: hidden;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     margin: auto;
}
 .waveWrapperInner {
     position: absolute;
     width: 100%;
     overflow: hidden;
     height: 100%;
     bottom: -1px;
}
 .bgMiddle {
     opacity: 0.6;
}
 .wave1 {
     position: absolute;
     top: 450px;
     left: 0;
     width: 200%;
     height: 100%;
}
.wave {
    position: absolute;
    top: 650px;
    left: 0;
    width: 200%;
    height: 100%;
}
 .waveMiddle {
     background-size: 50% 200px;
}

 .waveAnimation1 .waveMiddle {
     animation: move_wave 25s linear infinite;
     background-image: url(https://haxstar.com/resources/images/annimation/wave-mid.png);
}
.waveAnimation .waveMiddle {
    animation: move_wave 25s linear infinite;
    background-image: url(https://haxstar.com/resources/images/annimation/wave-mid-full.png);
}
 .floating-duck {
     width: 270px;
     height: 270px;
}
 #slogan {
     padding-top: 120px;
}
 #adBlock {
     display:none;
     width: 100%;
     background-color:pink;
}
 .orangeColorButton {
     background-color: #ff5722;
     color: white;
}
 #feed-bg, #register, #profile, #login {
     background-color: #ffffe6;
}
 #userList ul {
     background-color: #ffffe0;
     cursor: pointer;
}
 #userList li {
     padding: 12px;
}
::placeholder {
  color: Gainsboro;
  font-size: 1.5em;
}
#feedtitle{
  color: #ff5722;
}
.whitetitles{
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}
